Package    Version
---------- -------
antiorm    1.2.1  
attrs      19.3.0 
Click      7.0    
construct  2.10.53
db         0.1.1  
db-sqlite3 0.0.1  
inflection 0.3.1  
jsonlines  1.2.0  
Logbook    1.5.3  
pip        20.0.2 
pytz       2019.3 
regipy     1.4.2  
setuptools 45.2.0 
six        1.14.0 
tabulate   0.8.6  
tqdm       4.41.1 
wheel      0.34.2 
